<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.rens.vinylcountdown">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BuyActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ColWishActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BuySearchActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".RecordInfoActivity"
            android:theme="@style/Base.V11.Theme.AppCompat.Light.Dialog" />
        <activity android:name=".SaleSearchActivity" />
        <activity
            android:name=".SaleActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".NewsActivity"
            android:theme="@style/Base.V11.Theme.AppCompat.Light.Dialog" />
        <activity android:name=".InboxActivity" />
        <activity android:name=".InboxDetailActivity" />
        <activity
            android:name=".ProfileEditActivity"
            android:theme="@style/Base.V11.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".InfoActivity"
            android:theme="@style/Base.V11.Theme.AppCompat.Light.Dialog"/>
    </application>

</manifest>